{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong >You Have succesfully Logged in.</strong> Press  'q' on camera to turn it off.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img\fcicon.png' %}" alt="" width="50%">
            <h6 class="text-muted p-1">Your Profile</h6>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h1 align='center'>   Hello {{last_face}} ,</h1>
                <h5 align='center' class='my-5'> Attendance Records</h5>
            </div>
        </div>
        <div class="col-md-3">
            <a target="_self" class="Exit" href="{% url 'index' %}">
                <input type="submit" class="profile-edit-btn m-2"name="btnAddMore" value="Home" />
            </a>
        </div>
    </div>
    <h5 class='m-2'>No of. Records : {{records|length}}</h5>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col">Profile ID1</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for face in records %}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{face.last_face}}</td>
                        <td>{{face.date}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr></tr>
                <tr>
                    <td>-</td>
                    <td>OOPS!! No Records found!</td>
                    <td></td> 
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

</div>

{% endblock content %}